.ng-invalid.ng-touched {
  border-color: red;
  background-color: pink;
  color: red;
}

.editing {
  font-weight: bolder;
  color: blue;
  text-decoration: underline;
}

.reimbursed {
  font-style: italic;
  text-decoration: line-through;
  color: darkgray;
}
