<td>
  <span ng-bind="expense.date | date: 'MM/dd/yyyy'"></span>
</td>
<td>
  <span ng-bind="expense.merchant"></span>
</td>
<td>
  <span ng-bind="expense.totalExpense | currency"></span>
</td>
<td>
  <span ng-bind="expense.comments"></span>
</td>
<td>
  <span ng-bind="expense.status"></span>
</td>
<td>
  <div class="button-group" ng-show="isNewExpense() && !showForm()">
    <button ng-click="setEditing(expense);">Edit</button>
    <button ng-click="removeExpense(expense)">Delete</button>
  </div>
</td>
