<td>
  <span ng-bind="expense.date | date: 'MM/dd/yyyy'"></span>
</td>
<td>
  <span ng-bind="expense.merchant"></span>
</td>
<td>
  <span ng-bind="expense.totalExpense | currency"></span>
</td>
<td>
  <span ng-bind="expense.comments"></span>
</td>
<td>
  <span ng-bind="expense.status"></span>
</td>
<td>
  <div class="button-group" ng-show="isNewExpense() && editing === undefined">
    <button ng-click="editExpense()">Edit</button>
    <button ng-click="removeExpense()">Delete</button>
  </div>
</td>
