<ng-form name="requiredInfo">
  <table class="table">
    <tr>
      <td>
        Merchant:
        <input type="text" name="merchant" ng-model="newExpense.merchant" required>
      </td>

      <td>
        Total expense:
        <input type="number" name="total-expense" ng-model="newExpense.totalExpense" required>
      </td>

      <td>
        <span>Expense date:</span>
        <input type="date" name="date" ng-model="newExpense.date" required>
        <em ng-show="date.$invalid">* required</em>
      </td>
    </tr>
  </table>
</ng-form>

<ng-form name="optionalInfo">
  <table class="table">
    <tr>
      <td>
        <p>Comments:</p>
        <textarea type="text" name="comments" ng-model="newExpense.comments"></textarea>
      </td>

      <td>
        <p>Status:</p>
        <input type="radio" name="status" ng-model="newExpense.status" value="New"> New
        <input type="radio" name="status" ng-model="newExpense.status" value="Reimbursed"> Reimbursed
      </td>
    </tr>
  </table>
</ng-form>

<input type="submit" ng-click="requiredInfo.$valid && saveExpense()" value="Save">
<button ng-click="cancelExpense()">Cancel</button>
