<div class="row">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th ng-repeat="name in headers"><span ng-bind="name"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr expense-line ng-repeat="expense in expenses">
        
      </tr>
      <tr>
        <td class="text-center" colspan="6">
          <p ng-hide="expenses.length">No expenses entered yet. How about adding one...</p>
          <button ng-click="createNewExpenseLine()">New Expense</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
