<ng-form name="requiredInfo">
  <table class="table">
    <tr>
      <td>
        Merchant:
        <input type="text" name="merchant" ng-model="expense.merchant" required>
      </td>

      <td>
        Total expense:
        <input type="number" name="total-expense" ng-model="expense.totalExpense" required>
      </td>

      <td>
        <span>Expense date:</span>
        <input type="date" name="date" ng-model="expense.date" required>
      </td>
    </tr>
  </table>
</ng-form>

<ng-form name="optionalInfo">
  <table class="table">
    <tr>
      <td>
        <p>Comments:</p>
        <textarea type="text" name="comments" ng-model="expense.comments"></textarea>
      </td>

      <td>
        <p>Status:</p>
        <input type="radio" name="status" ng-model="expense.status" value="New" ng-selected="!expense.status"> New
        <input type="radio" name="status" ng-model="expense.status" value="Reimbursed"> Reimbursed
      </td>
    </tr>
  </table>
</ng-form>

<input type="submit" ng-click="requiredInfo.$valid && addOrUpdateExpense()">
<button ng-click="cancelExpense()">Cancel</button>
