<td>
  <input type="date" name="date" ng-model="newExpense.date" required>
</td>
<td>
  <input type="text" name="merchant" ng-model="newExpense.merchant" required>
</td>
<td>
  <input type="number" name="total-expense" ng-model="newExpense.totalExpense" required>
</td>
<td>
  <input type="text" name="comments" ng-model="newExpense.comments">
</td>
<td>
  <input type="radio" name="status" ng-model="newExpense.status" value="New"> New
  <input type="radio" name="status" ng-model="newExpense.status" value="Reimbursed"> Reimbursed
</td>
<td>
  <button name="submit" ng-click="saveExpense()">Save</button>
  <button ng-click="cancelExpense()">Cancel</button>
</td>
