<td>
  <input type="date" ng-model="newExpense.date">
</td>
<td>
  <input type="text" ng-model="newExpense.merchant">
</td>
<td>
  <input type="number" ng-model="newExpense.totalExpense">
</td>
<td>
  <input type="text" ng-model="newExpense.comments">
</td>
<td>
  <input type="radio" ng-model="newExpense.status" value="New"> New
  <input type="radio" ng-model="newExpense.status" value="Reimbursed"> Reimbursed
</td>
<td>
  <button ng-click="saveExpense(true)">Save</button>
  <button ng-click="saveExpense(false)">Cancel</button>
</td>